$basePadding: 8px;
$baseMargin: 5px;
html{
    font-size: 14px;
}
@function margin($level: 1){
  @return $baseMargin * $level;
}
@function padding($level: 1){
    @return $basePadding * $level;
}
@function font($level: 1){
    @return 1rem + 0.2rem * ($level - 1);
}
%flex-container{
    display: flex;
    height: 100%; 
    width: 100%;
}