@import './theme-wine.scss';

$basePadding: 5px;

@mixin themable($theme-name, $theme-map){
  @each $section, $map in $theme-map{
    @if($section == container){
      .body{
        background-color: map-get($map, background);
        padding: 50px;
        margin: auto;
        height: 100%;
        width: 100%;
      }
    } @else if($section == header){
      .header{
        background-color: map-get($map, background);
        color: map-get($map, text);
      }
    } @else if($section == card-head){
        .todo .ant-card-head{
          background-color: map-get($map, background);
          color: map-get($map, text)
        }
    } @else if($section == card-body){
        .todo .ant-card-body{
          button{
            background-color: map-get($map, element-background);
            color: map-get($map, element-text);
          }
        }
    }
  } 
}

@include themable(theme-wine, $theme-wine);

#root, .App{
  height: 100%;
  width: 100%;
}
.f-1{
  flex:1;
}
.flex-container{
  display: flex;
}
// Margin
$baseMargin: 5px;
@function margin($level: 1){
  @return $baseMargin * $level;
}
.m-1{
  margin: margin(1)
}
.m-2{
  margin:margin(2)
}
.m-3{
  margin:margin(3)
}