$theme-wine:(
    container:(
        background:#C3403F
    ),
    header:(
        background:#E8E8E8,
        text: black
    ),
    card-head:(
        background: #646F99,
        text: #FDFCFF
    ),
    card-body:(
        element-background: #4F3840,
        element-text: #FDFCFF
    )
)